@{
    ViewBag.Title = "ApteczkaMan";
}

<div class="jumbotron">
    <h1>ApteczkaMan</h1>
    <p class="lead">Zarządzaj swoimi domowymi apteczkami fest, jak nigdy dotąd!</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zacznij działać</h2>
        <p>Zacznij działać i klikaj w menu, tam są rzeczy!</p>
    </div>
    <div class="col-md-4">
        <h2>Dodawaj więcej apteczek</h2>
        <p>Dodawaj kolejne apteczki, i kolejne, i jeszcze kilka, albo kilka usuń, albo nie.</p>
    </div>
    <div class="col-md-4">
        <h2>Leki też dodawaj</h2>
        <p>Więcej leków, leki w apteczkach, albo wszystkie w jednej apteczce leki, jak wolisz.</p>
    </div>
</div>